In [1]:
# # If your notebook is in 'notebooks/' and script is in 'src/'
# import sys
# sys.path.append("../src")

# from data_downloader import download_storm_data

# # Download and organize all files (or set limit=5 for testing)
# download_storm_data(output_dir="../data")

In [1]:
import pandas as pd

In [86]:
df = pd.read_csv("../data/details/details_2020.csv.gz")
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,202006,24,1620,202006,24,1620,149684,902190,GEORGIA,13,...,1.0,W,DOLES,31.7000,-83.8900,31.7000,-83.8900,"As is typical during summer, scattered afterno...",A power line was blown down on Highway 32W. H...,CSV
1,202006,20,1930,202006,20,1930,149048,898391,KANSAS,20,...,8.0,SE,CALVERT,39.7571,-99.6684,39.7571,-99.6684,Supercells in small clusters formed during the...,Penny to quarter size hail reported and ongoin...,CSV
2,202006,3,1550,202006,3,1550,149149,899120,KANSAS,20,...,14.0,NW,ST FRANCIS,39.9137,-101.9753,39.9137,-101.9753,Thunderstorms formed in eastern Colorado durin...,Dime to penny sized hail reported at the locat...,CSV
3,202006,19,1900,202006,19,1900,149046,898383,KANSAS,20,...,2.0,SSE,BREWSTER,39.3400,-101.3700,39.3400,-101.3700,Thunderstorms moved east off the central Rocki...,Officer reported an estimated 60 mph wind gust...,CSV
4,202006,20,1900,202006,20,1900,149048,898388,KANSAS,20,...,1.0,SE,NORTON MUNI ARPT,39.8400,-99.8900,39.8400,-99.8900,Supercells in small clusters formed during the...,NaN,CSV

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61278 entries, 0 to 61277
Data columns (total 51 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BEGIN_YEARMONTH     61278 non-null  int64
 1   BEGIN_DAY           61278 non-null  int64
 2   BEGIN_TIME          61278 non-null  int64
 3   END_YEARMONTH       61278 non-null  int64
 4   END_DAY             61278 non-null  int64
 5   END_TIME            61278 non-null  int64
 6   EPISODE_ID          61278 non-null  int64
 7   EVENT_ID            61278 non-null  int64
 8   STATE               61278 non-null  object
 9   STATE_FIPS          61278 non-null  int64
 10  YEAR                61278 non-null  int64
 11  MONTH_NAME          61278 non-null  object
 12  EVENT_TYPE          61278 non-null  object
 13  CZ_TYPE             61278 non-null  object
 14  CZ_FIPS             61278 non-null  int64
 15  CZ_NAME             61278 non-null  object
 16  WFO                 61278 non-null  object
 17  BEGIN_DATE_TIME     61278 non-null  object
 18  CZ_TIMEZONE         61278 non-null  object
 19  END_DATE_TIME       61278 non-null  object
 20  INJURIES_DIRECT     61278 non-null  int64
 21  INJURIES_INDIRECT   61278 non-null  int64
 22  DEATHS_DIRECT       61278 non-null  int64
 23  DEATHS_INDIRECT     61278 non-null  int64
 24  DAMAGE_PROPERTY     48417 non-null  object
 25  DAMAGE_CROPS        49170 non-null  object
 26  SOURCE              61278 non-null  object
 27  MAGNITUDE           34861 non-null  float64
 28  MAGNITUDE_TYPE      27166 non-null  object
 29  FLOOD_CAUSE         6365 non-null   object
 30  CATEGORY            63 non-null     float64
 31  TOR_F_SCALE         1250 non-null   object
 32  TOR_LENGTH          1250 non-null   float64
 33  TOR_WIDTH           1250 non-null   float64
 34  TOR_OTHER_WFO       166 non-null    object
 35  TOR_OTHER_CZ_STATE  166 non-null    object
 36  TOR_OTHER_CZ_FIPS   166 non-null    float64
 37  TOR_OTHER_CZ_NAME   166 non-null    object
 38  BEGIN_RANGE         39761 non-null  float64
 39  BEGIN_AZIMUTH       39761 non-null  object
 40  BEGIN_LOCATION      39761 non-null  object
 41  END_RANGE           39761 non-null  float64
 42  END_AZIMUTH         39761 non-null  object
 43  END_LOCATION        39761 non-null  object
 44  BEGIN_LAT           39761 non-null  float64
 45  BEGIN_LON           39761 non-null  float64
 46  END_LAT             39761 non-null  float64
 47  END_LON             39761 non-null  float64
 48  EPISODE_NARRATIVE   61278 non-null  object
 49  EVENT_NARRATIVE     49541 non-null  object
 50  DATA_SOURCE         61278 non-null  object
dtypes: float64(11), int64(15), object(25)
memory usage: 23.8+ MB

In [88]:
df.select_dtypes(include=['object']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61278 entries, 0 to 61277
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STATE               61278 non-null  object
 1   MONTH_NAME          61278 non-null  object
 2   EVENT_TYPE          61278 non-null  object
 3   CZ_TYPE             61278 non-null  object
 4   CZ_NAME             61278 non-null  object
 5   WFO                 61278 non-null  object
 6   BEGIN_DATE_TIME     61278 non-null  object
 7   CZ_TIMEZONE         61278 non-null  object
 8   END_DATE_TIME       61278 non-null  object
 9   DAMAGE_PROPERTY     48417 non-null  object
 10  DAMAGE_CROPS        49170 non-null  object
 11  SOURCE              61278 non-null  object
 12  MAGNITUDE_TYPE      27166 non-null  object
 13  FLOOD_CAUSE         6365 non-null   object
 14  TOR_F_SCALE         1250 non-null   object
 15  TOR_OTHER_WFO       166 non-null    object
 16  TOR_OTHER_CZ_STATE  166 non-null    object
 17  TOR_OTHER_CZ_NAME   166 non-null    object
 18  BEGIN_AZIMUTH       39761 non-null  object
 19  BEGIN_LOCATION      39761 non-null  object
 20  END_AZIMUTH         39761 non-null  object
 21  END_LOCATION        39761 non-null  object
 22  EPISODE_NARRATIVE   61278 non-null  object
 23  EVENT_NARRATIVE     49541 non-null  object
 24  DATA_SOURCE         61278 non-null  object
dtypes: object(25)
memory usage: 11.7+ MB

In [89]:
cols = ['SOURCE', 'DATA_SOURCE', 'CATEGORY','EPISODE_NARRATIVE', 'EVENT_NARRATIVE']
df[cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61278 entries, 0 to 61277
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SOURCE             61278 non-null  object
 1   DATA_SOURCE        61278 non-null  object
 2   CATEGORY           63 non-null     float64
 3   EPISODE_NARRATIVE  61278 non-null  object
 4   EVENT_NARRATIVE    49541 non-null  object
dtypes: float64(1), object(4)
memory usage: 2.3+ MB

In [90]:
df.drop(columns=cols, errors='ignore', inplace=True)

In [91]:
df

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,BEGIN_RANGE,BEGIN_AZIMUTH,BEGIN_LOCATION,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,202006,24,1620,202006,24,1620,149684,902190,GEORGIA,13,...,1.0,W,DOLES,1.0,W,DOLES,31.7000,-83.8900,31.7000,-83.8900
1,202006,20,1930,202006,20,1930,149048,898391,KANSAS,20,...,8.0,SE,CALVERT,8.0,SE,CALVERT,39.7571,-99.6684,39.7571,-99.6684
2,202006,3,1550,202006,3,1550,149149,899120,KANSAS,20,...,14.0,NW,ST FRANCIS,14.0,NW,ST FRANCIS,39.9137,-101.9753,39.9137,-101.9753
3,202006,19,1900,202006,19,1900,149046,898383,KANSAS,20,...,2.0,SSE,BREWSTER,2.0,SSE,BREWSTER,39.3400,-101.3700,39.3400,-101.3700
4,202006,20,1900,202006,20,1900,149048,898388,KANSAS,20,...,1.0,SE,NORTON MUNI ARPT,1.0,SE,NORTON MUNI ARPT,39.8400,-99.8900,39.8400,-99.8900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61273,202008,10,845,202008,10,845,150384,919277,IOWA,19,...,0.0,N,SAC CITY,0.0,N,SAC CITY,42.4200,-95.0000,42.4200,-95.0000
61274,202006,2,1402,202006,2,1405,148832,904958,KANSAS,20,...,3.0,S,SHARON SPGS ARPT,3.0,S,SHARON SPGS ARPT,38.8031,-101.7521,38.8111,-101.7496
61275,202006,8,2337,202006,8,2337,149983,904282,COLORADO,8,...,6.0,WSW,CLARKVILLE,6.0,WSW,CLARKVILLE,40.3491,-102.7176,40.3491,-102.7176
61276,202006,2,1723,202006,2,1723,148836,896642,NEBRASKA,31,...,3.0,WSW,PALISADE,3.0,WSW,PALISADE,40.3355,-101.1506,40.3355,-101.1506
61277,202006,2,1730,202006,2,1730,148832,896634,KANSAS,20,...,8.0,SSW,ST FRANCIS ARPT,8.0,SSW,ST FRANCIS ARPT,39.6558,-101.8729,39.6558,-101.8729

In [92]:
df.isnull().sum().sort_values(ascending=False)

TOR_OTHER_CZ_NAME     61112
TOR_OTHER_CZ_FIPS     61112
TOR_OTHER_WFO         61112
TOR_OTHER_CZ_STATE    61112
TOR_F_SCALE           60028
TOR_LENGTH            60028
TOR_WIDTH             60028
FLOOD_CAUSE           54913
MAGNITUDE_TYPE        34112
MAGNITUDE             26417
END_LON               21517
BEGIN_RANGE           21517
BEGIN_AZIMUTH         21517
BEGIN_LOCATION        21517
END_RANGE             21517
END_AZIMUTH           21517
END_LOCATION          21517
BEGIN_LAT             21517
BEGIN_LON             21517
END_LAT               21517
DAMAGE_PROPERTY       12861
DAMAGE_CROPS          12108
BEGIN_DAY                 0
BEGIN_YEARMONTH           0
DEATHS_DIRECT             0
INJURIES_INDIRECT         0
BEGIN_TIME                0
END_YEARMONTH             0
END_DAY                   0
END_TIME                  0
EPISODE_ID                0
EVENT_ID                  0
STATE                     0
STATE_FIPS                0
YEAR                      0
MONTH_NAME                0
EVENT_TYPE                0
CZ_TYPE                   0
CZ_FIPS                   0
CZ_NAME                   0
WFO                       0
BEGIN_DATE_TIME           0
CZ_TIMEZONE               0
END_DATE_TIME             0
INJURIES_DIRECT           0
DEATHS_INDIRECT           0
dtype: int64

In [93]:
df['EVENT_TYPE'].value_counts()

EVENT_TYPE
Thunderstorm Wind             19315
Hail                           7677
High Wind                      3682
Flash Flood                    3569
Winter Weather                 2910
Marine Thunderstorm Wind       2887
Flood                          2704
Drought                        2244
Winter Storm                   2102
Heavy Snow                     1792
Heavy Rain                     1450
Tornado                        1250
Strong Wind                    1193
Heat                           1106
Dense Fog                      1002
Excessive Heat                  961
Frost/Freeze                    878
Tropical Storm                  714
Blizzard                        515
High Surf                       415
Wildfire                        413
Funnel Cloud                    264
Lightning                       247
Extreme Cold/Wind Chill         215
Waterspout                      194
Coastal Flood                   190
Ice Storm                       156
Marine Tropical Storm           153
Cold/Wind Chill                 147
Lakeshore Flood                 139
Storm Surge/Tide                133
Debris Flow                      92
Rip Current                      88
Dust Storm                       85
Marine High Wind                 82
Lake-Effect Snow                 67
Hurricane (Typhoon)              63
Tropical Depression              38
Marine Hurricane/Typhoon         27
Avalanche                        25
Astronomical Low Tide            19
Marine Hail                      18
Dense Smoke                      14
Freezing Fog                     13
Sleet                             7
Marine Strong Wind                7
Dust Devil                        5
Seiche                            4
Marine Tropical Depression        4
Marine Dense Fog                  2
Sneakerwave                       1
Name: count, dtype: int64